.collection-container{
    display: grid;
    grid-template-columns: 50% 50%;
    grid-gap: .5%;
    width: 93.5%;
    height: 150vh;
    padding: 3%;
}

.collection-right{
    display: grid;
    grid-template-columns: 99.5%;
    grid-gap: .5%;
}

.collection-left{
    height: 100%;
}


@media only screen and (max-width: 600px) {
    
    
  }